:root{
    --primarycolor:#ff274b;
    --seondaryccolor:#f7bcf7;
    --lightcolor:#ffffff;   
    --bgcolor-1:#711a1c;
    --bgcolor-2:#22282a;
    --padding: 8%;
   }
   
   *{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   }
   
   html {
    font-family: 'Josefin Slab', serif;
       font-size: 16px;
    color: var(--lightcolor);
   }
    .Home {
       width: 100%;
       height: 100vh;
       background-color: var(--bgcolor-2);
       display: flex;
       flex-direction: column;
   }
    span{
        color: var(--primarycolor);
   
   }
    h2{
        font-size: 40px;
        letter-spacing: 1px;
        cursor: pointer;
    }
     nav{
         
   padding-top: 25px;
   padding-left: var(--padding);
   padding-right: var(--padding);
   display: flex;
   justify-content: space-between;
   align-items: center;
     }
     nav ul li{
   list-style-type: none;
   display: inline-block;
   margin: 5px;
   
     }
     nav ul li a{
   color: var(--lightcolor);
   text-decoration: none;
   text-transform: capitalize;
   transition: 0.3s;
   
     }
     nav ul li a:hover{
         color: var(--primarycolor);
     }
     .content{ 
         padding: 0 var(--padding);
          
     flex-grow:1;
     display: flex;
     align-items : center;
    justify-content: space-between;
    
     }
     
     h3{
   font-size: 30px;
   margin: 10px;
   color: var(--primarycolor) ;
     }
    h1{
       font-size: 70px;  
    }
    h4{
        font-size:40px ;
        letter-spacing: 1px;
        margin-bottom:30px ;
    }
    .btn{
    background-color: var(--primarycolor);
    text-decoration: none;
    font-weight: bold;
    padding:10px 50px;
    border-radius: 80px;
   color: var(--lightcolor);
   transform: 0.3s;
    }
    .btn:hover{
   
       background-color: transparent;
       border: 2px solid var(--primarycolor);
    }
    .social{
    margin-top: 20px;
    
   
    }
    .social img{
    margin-left: 20px;
    width: 20px;
    transition: 0.3s;
    }
    .social img:hover{
   transform: scale(1.4);
   
    }
    .container-images{
    height: 100%;
    width: 50%;
        align-self: flex-end;
       transition: 0.2s;
    }
    .container-images:hover .shape{
       
       transform: scale(1.05);
    
    
    }
    